<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.growpea" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="GrowPea" android:hardwareAccelerated="true">
    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode,face"></meta-data>
    <activity android:name=".MainActivity" android:screenOrientation="landscape"/>
  </application>


</manifest>