<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.saycheese" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="SayCheese" android:hardwareAccelerated="true" android:largeHeap="true" android:debuggable="true">
		<meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode,face"></meta-data>
    <activity
         android:name=".FaceTrack"
         android:screenOrientation="landscape" />
	</application>

</manifest>